.wrapper {
    width: 90%;
    margin: auto;
    height: auto;

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

.center-text {
    text-align: center !important;
}

.uppercase-text {
    text-transform: uppercase !important;
}

.padded {
    padding: 50px 0;
}