.container {
    width: 90%;
    margin: auto;
    height: auto;

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

.center-text {
    text-align: center !important;
}