@import 'reset';
@import 'helpers';
@import 'components/forms';
@import 'components/navbar';
@import 'components/buttons';
@import 'components/signup';
@import 'components/login';
@import 'components/upload_form';
@import 'components/flexboxgrid';

.footer {
    width: 100%;
    display: block;

    ul {
        display: block;
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;

        li {
            a {
                display: inline-block;
                text-decoration: none;
                color: #333333;
                text-align: center;

                &:hover {
                    color: #dddddd;
                }
            }
        }
    }
}

.uploading-images {
    width: 100%;
    height: 200px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;

    .preview-image {
        white-space: normal;
        height: 100%;
        width: auto;
        display: inline-block;
        margin: 0 10px;

        img {
            height: 200px;
            width: auto;
            display: block;
        }
    }
}
