<nav class="navigation">
    {{! Navbar }} {{#if title}}
    <a class="logo" href="/">{{title}}</a>
    {{else}}
    <a class="logo" href="/">95 Tees</a>
    {{/if}}
    <div class="nav">
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/contact">contact</a>
    </div>
</nav>