<nav class="navigation">
    <div class="nav">
        <a href="/">Dashboard</a>
        <a href="/galleries">Galleries</a>
        <a href="/account">Account</a>
    </div>
</nav>

<div class="navigation-btn"><i class="material-icons">menu</i></div>