<div class="upload-form">
    <form action="/create-gallery" method="POST" enctype="multipart/form-data" class="form">
        <div class="control">
            <h1>Create a Gallery</h1>
        </div>
        <div class="control">
            <input type="text" name="name" placeholder="Gallery Name">
        </div>
        <div class="control center-text">
            <button class="button primary small" type="submit">Create</button>
        </div>
    </form>
</div>