<div class="err_page"></div>

<div class="card">
    <h1>404</h1>
    <h4>PAGE NOT FOUND</h4>
    <br>
    <span>Despite our best efforts, we couldn't find
        <b>{{route}}</b>
    </span>
    <hr>
    <div class="wrapper">
        <a href="javascript:history.back()" class="button small just info">Previous Page</a>
        <br>
        <a href="/" class="button just small alert">Home</a>
    </div>
</div>