<div class="container">
    <h1>{{title}}</h1>
</div>
<hr>
<div class="container">
    <h2>Buttons</h2>
    <a class="button accent large">Button</a>
    <a class="button accent medium">Button</a>
    <a class="accent button small">Button</a>
    <a class="button accent tiny">Button</a>
</div>
<div class="container" style="height: 300px; display:flex;align-items:center;justify-content:center; background-color:#eeeeee;">
    <h1>container</h1>
</div>