<div class="wrapper padded center-text">
    <h1>Welcome to Gallerya
        <b>{{user.username}}</b>
    </h1>
</div>
<br> {{!--
<div class="wrapper">
    <code>{{user._id}}</code>
</div> --}}
<div class="wrapper">
    <p>
        To use gallerya you need two things: an api key and the name of the gallery you want.
    </p>
    <br>
    <p>
        let's say your api key is
    </p>
    <code>xxx123ccc345</code>
    <p>
        and your gallery is called
    </p>
    <code>products</code>
    <p>To use you gallery you would make a GET request to</p>
    <code>https://gallerya.herokuapp.com/api/xxx123ccc345/products</code>
    <p>This call would return a json string with the urls to your images.</p>
</div>
<div class="wrapper">
<pre style="border: solid 1px #ddd; padding: 20px; overflow-x: auto;">
{ 
    "files": [ 
        "https://gallerya.herokuapp.com/user_images/user_image_1508244758255.jpeg", 
        "https://gallerya.herokuapp.com/user_images/user_image_1508244758384.jpeg", 
        "https://gallerya.herokuapp.com/user_images/user_image_1508244765397.jpeg", 
        "https://gallerya.herokuapp.com/user_images/user_image_1508244761806.jpeg", 
        "https://gallerya.herokuapp.com/user_images/user_image_1508244766936.jpeg", 
        "https://gallerya.herokuapp.com/user_images/user_image_1508244767529.jpeg", 
        "https://gallerya.herokuapp.com/user_images/user_image_1508244769203.jpeg", 
        "https://gallerya.herokuapp.com/user_images/user_image_1508244769990.jpeg", 
        "https://gallerya.herokuapp.com/user_images/user_image_1508244770767.jpeg", 
        "https://gallerya.herokuapp.com/user_images/user_image_1508244771557.jpeg", 
        "https://gallerya.herokuapp.com/user_images/user_image_1508244768933.jpeg" 
    ], 
    "galleryName": "photos", 
    "cover": "https://gallerya.herokuapp.com/user_images/user_image_1508244758255.jpeg" 
}
</pre>
</div>