<div class="container center-text">
    <h1>Upload Images</h1>
</div>

<div class="container">
    <div class="upload-image">
        <form action="/upload-images" id="my-awesome-dropzone" class="form dropzone" method="POST"></form>
    </div>
</div>
