<div class="wrapper padded center-text">
    <h1>Welcome to Gallery Api
        <b>{{user.username}}</b>
    </h1>
</div>
<div class="wrapper center-text">
    <h2>Gallery Api is a simple to use gallery cms.</h2>
</div>