<div class="wrapper center-text">
    <h1>How to use Gallerya</h1>
</div>
<br>
<div class="wrapper">
    <code>{{user._id}}</code>
</div>
<div class="wrapper">
    <p>to use gallerya you need two things: an api key and the name of the gallery you want. let's say your api key is 'xxx123ccc345' and your gallery is called 'products'. To use you gallery you would make a GET request to 'http://xxx.xxx/api/xxx123ccc345/products. This call would return a json string with the urls to your images.</p>
</div>