<div class="login">
    <form action="/login" class="form" method="POST" enctype="multipart/form-data">
        <div class="control center-text">
            <h1>Log In</h1>
        </div>
        <div class="control">
            <input type="text" placeholder="username" name="username">
        </div>
        <div class="control">
            <input type="password" placeholder="password" name="password">
        </div>
        <div class="control center-text">
            <button class="button primary small">Submit</button>
        </div>
    </form>
</div>