<div class="wrapper">
    <div class="account-info">
        <form action="/account/changepassword" method="POST" class="form" enctype="multipart/form-data">
            <div class="control">
                <h1>Change your password</h1>
            </div>
            <div class="control">
                <label for="username">Your Username</label>
                <input type="text" name="username" placeholder="Your Username">
            </div>
            <div class="control">
                <label for="password">Old Password</label>
                <input type="password" name="password" placeholder="Your old password">
            </div>
            <div class="control">
                <label for="newPassword">New Password</label>
                <input type="password" name="newPassword" placeholder="Your new password">
            </div>
            <div class="control center-text">
                <button class="button primary">Save</button>
            </div>
        </form>
    </div>
</div>


<a href="/account" class="floating-button top alert">
    <i class="material-icons">close</i>
</a>