<div class="signup">
    <form action="/signup" class="form" method="POST" enctype="multipart/form-data">
        <div class="row center-text">
            <h1>Sign Up</h1>
        </div>
        <div class="row">
            <input type="text" placeholder="username" name="username">
        </div>
        <div class="row">
            <input type="email" placeholder="email" name="email">
        </div>
        <div class="row">
            <input type="password" placeholder="password" name="password">
        </div>
        <div class="row">
            <input type="password" placeholder="confirm password" name="confpassword">
        </div>
        <div class="row center-text">
            <button class="button primary small">Submit</button>
        </div>
    </form>
</div>