<div class="wrapper center-text">
    <h1>Upload Images</h1>
</div>

<div class="wrapper">
    <div class="upload-image">
        <form action="/upload-images/{{galleryId}}" id="my-awesome-dropzone" class="form dropzone" method="POST"></form>
    </div>
</div>
<br>
<div class="wrapper padded center-text">
    <a href="/gallery/{{galleryId}}" class="button success large">Return</a>
</div>