.navigation {
    width: 300px;
    height: 100%;
    position: fixed;
    display: block;
    background-color: #333333;
    top: 0;
    left: 0;
    z-index: 300;
    transform: translateX(-100%);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 500ms;

    .nav {
        width: 100%;
        height: auto;

        a {
            display: block;
            text-decoration: none;
            color: #ffffff;
            text-align: center;
            padding: 15px;

            &:hover {
                background-color: #ffffff;
                color: #252525;
            }
        }
    }

    &.open {
        transform: translateX(0);
    }
}

.navigation-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #333333;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transform: rotate(0);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 500ms;
    opacity: 0.5;
    z-index: 400;

    &:hover {
        opacity: 1;
    }

    &.open {
        left: 310px;
        transform-origin: center center;
        transform: rotate(180deg);
    }
}
